.org-container{
    display:flex;
    margin-left: 15vw;
    margin-right: 15vw;
    margin-bottom: 20px;
    cursor:pointer;
    transition: all 0.25s ease;
    border: 1px solid;
}

.org-container:hover{
    transform: translateY(-4px);
}

.organization-list{
    background-color: #161b22;
    display:block;
    justify-content: center;
    align-items: center;
    height: 150px;
    width: 70vw;
    border: 1px solid #8b949e;
    border-radius: 6px;
}

.organization-list .org-name{
    color: #c9d1d9;
    font-size: 18px;
    margin-bottom: 4px;
    font-weight: 600;
    padding-top: 1px;
    font-size: 20px;
    padding-left: 20px;
    padding-bottom: 7px;
}

.organization-list .org-details{
    color: #8b949e;
    font-size: 14px;
    box-sizing: border-box;
    padding-left: 20px;
}

.issue-details{
    display: flex;
    flex-direction: row;
    padding: 10px;
}

.open-issue{
    display: flex;
    justify-content: center;
    align-items: center;
    color: #8b949e;
    gap: 5px;
    font-size: 14px;
    padding: 10px;
}

.close-issue{
    display: flex;
    justify-content: center;
    align-items: center;
    color:#8b949e;
    font-size: 14px;
    gap: 5px;
    padding: 10px;
}
.contributors{
    display: flex;
    justify-content: center;
    align-items: center;
    color: #8b949e;
    font-size: 14px;
    gap: 5px;
    padding: 10px;
}