.navbar{
    background-color: #161b22;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px #c9d1d9;
}

.navbar .logo-text{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.navbar .button{
    background-color: #c9d1d9;
    font-size: 20px;
    font-weight: 700;
    border-radius: 5px;
    padding: 2px;
    margin: 20px;
    margin-left: 20px;
}

.navbar .company-name{
    font-size: 20px;
    font-weight: 600;
    color: #c9d1d9;
}

.navbar .company-name:hover{
    transition: all 0.3s ease;
    transform: scale(1.1);
    cursor: pointer;
}

.toggle{
    font-size: 20px;
    margin: 20px;
    margin-right: 30px;
    cursor: pointer;
}

.toggle:hover{
    transition: all 0.3s ease;
    transform: scale(1.1);
}

.toggle.active{
    background-color: #21262d;
}
