.navbar{
    background-color: #161b22;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid #c9d1d9;
    padding: 10px 20px;
}

.navbar .logo-text{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.navbar .button{
    font-size: 20px;
    font-weight: 700;
    border-radius: 5px;
    padding: 2px 6px;
    margin-right: 15px;
    cursor: pointer;
}

.navbar .company-name{
    font-size: 20px;
    font-weight: 600;
    color: #c9d1d9;
}

.navbar .company-name:hover{
    transition: all 0.3s ease;
    transform: scale(1.1);
    cursor: pointer;
}

.toggle{
    font-size: 20px;
    margin-right: 20px;
    cursor: pointer;
}

.toggle:hover{
    transition: all 0.3s ease;
    transform: scale(1.1);
}

.toggle.active{
    background-color: #21262d;
}

/* ----------------- RESPONSIVE NAVBAR ----------------- */
@media (max-width: 768px){
    
    .navbar{
        padding: 10px 15px;
    }

    .navbar .button{
        font-size: 18px;
        margin-right: 10px;
    }

    .navbar .company-name{
        font-size: 18px;
    }

    .toggle{
        font-size: 18px;
        margin-right: 10px;
    }
}

@media (max-width: 480px){

    .navbar{
        padding: 8px 10px;
    }

    .navbar .logo-text{
        gap: 4px;
    }

    .navbar .button{
        margin-right: 8px;
        margin-left: 5px;
        font-size: 16px;
        padding: 2px 5px;
    }

    .navbar .company-name{
        font-size: 16px;
    }

    .toggle{
        font-size: 18px;
        margin-right: 5px;
    }
}
