.profile{
    border: 1px solid #30363d;
    background-color: #161b22;
    padding: 20px;
}

/* MAIN PROFILE LAYOUT */
.profile .profile-section{
    display: flex;
    align-items: center;
    /* margin: 20px; */
    margin-left: 225px;  /* Desktop only */
}

.profile .picture{
    height: 100px;
    width: 100px;
    border-radius: 50%;
}

.profile .details{
    display: flex;
    flex-direction: column;
    margin: 20px;
    border:none;
}

.profile .user-name{
    font-size: 27px;
    font-weight: 600;
    color: #c9d1d9;
    padding: 5px 0;
}

.profile .user-email{
    font-size: 15px;
    font-weight: 600;
    color: #8b949e;
    padding: 5px 0;
}


/* ---------------------- RESPONSIVE ---------------------- */

/* Tablets */
@media (max-width: 768px){

    .profile .profile-section{
        margin-left: 40px;
        margin-right: 20px;
        display: flex;
        flex-direction:row;
    }

    .profile .picture{
        height: 85px;
        width: 85px;
    }

    .profile .user-name{
        font-size: 22px;
    }

    .profile .user-email{
        font-size: 14px;
    }
}

/* Mobile Phones */
@media (max-width: 480px){

    .profile .profile-section{
        flex-direction: row;
        align-items: center;
        margin-left: 0;
        margin-right: 0;
        gap: 10px;
    }

    .profile .picture{
        height: 80px;
        width: 80px;
    }

    .profile .details{
        align-items: center;
        margin: 10px 0;
    }

    .profile .user-name{
        font-size: 20px;
        text-align: center;
    }

    .profile .user-email{
        font-size: 13px;
        text-align: center;
    }
}
